@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.leaflet-tooltip {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  text-align: center;
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  border: none;
}

.info {
  padding: 6px 8px;
  font: 16px/18px "Varela Round", sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.info h4 {
  margin: 5px;
  color: #777;
}

.info h4.title {
  margin: 0 0 5px;
}

.bail-emphyteotique {
  color: #791CF8;
}

.bureau {
  color: #003366;
}

.centre {
  color: #72B026;
}

.centre-national {
  color: #000000;
}

.groupe {
  color: #ED7F10;
}

.terrain {
  color: #095228;
}

.en-vente {
  color: #960018;
}

.groupe-local {
  color: #960018;
}

p[class^="property-"] {
  padding: 5px;
  font: 12px "Open Sans", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

p.property-bail-emphyteotique {
  width: 160px;
  background-color: #791CF8;
}

p.property-bureau {
  width: 60px;
  background-color: #003366;
}

p.property-centre {
  width: 120px;
  background-color: #72b026;
}

p.property-centre-national {
  width: 120px;
  background-color: #000000;
}

p.property-groupe {
  width: 60px;
  background-color: #ED7F10;
}

p.property-terrain {
  width: 60px;
  background-color: #095228;
}

p.property-en-vente {
  width: 60px;
  background-color: #960018;
}

p.property-groupe-local {
  width: 120px;
  background-color: #960018;
}

p.town {
  font: 12px "Open Sans", sans-serif;
  color: #777777;
  text-transform: uppercase;
}

[class*="property-tooltip-"] {
  border: transparent;
  box-shadow: none;
  border-radius: 0;
  font-family: "Open Sans", sans-serif;
  font-size: xx-small;
  font-weight: bolder;
  color: white;
}

.property-tooltip-bail-emphyteotique {
  background-color: #791CF8;
}

.property-tooltip-bureau {
  background-color: #003366;
}

.property-tooltip-centre {
  background-color: rgb(114, 176, 38);
}

.property-tooltip-centre-national {
  background-color: rgb(0, 0, 0);
}

.property-tooltip-groupe {
  background-color: #ED7F10;
}

.property-tooltip-terrain {
  background-color: #095228;
}

.property-tooltip-en-vente {
  background-color: #960018;
}

.sale-tooltip {
  border: transparent;
  box-shadow: none;
  border-radius: 0;
  font-family: "Open Sans", sans-serif;
  font-size: xx-small;
  font-weight: bolder;
  color: white;
  background-color: rgb(169, 58, 62);
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
}

.leaflet-popup-content > h4 {
  font: 14px "Varela Round", sans-serif;
  font-weight: bold;
  color: #777777;
}

.totals-tooltip {
  font-family: "Varela Round", sans-serif;
  font-size: x-small;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.75);
}

.bafa {
  color: rgb(232, 75, 4);
}

.bafd {
  color: rgb(130, 26, 129);
}

.bafa-tooltip,
.stays-tooltip,
.camps-tooltip {
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px 5px 0 0;
  font-family: "Varela Round", sans-serif;
  font-size: x-small;
  font-weight: bolder;
  color: white;
}

.bafd-tooltip,
.vacationers-tooltip,
.children-tooltip {
  padding: 5px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 0 0 5px 5px;
  font-family: "Varela Round", sans-serif;
  font-size: x-small;
  font-weight: bolder;
  color: white;
}

.bafa-tooltip {
  background-color: rgba(232, 75, 4, 0.75);
}

.bafd-tooltip {
  background-color: rgba(130, 26, 129, 0.75);
}

.stays-tooltip {
  background-color: rgba(0, 51, 102, 0.75);
}

.vacationers-tooltip {
  background-color: rgba(0, 0, 0, 0.75);
}

.camps-tooltip {
  background-color: rgba(254, 27, 0, 0.75);
}

.children-tooltip {
  background-color: rgba(0, 0, 0, 0.75);
}

.legend {
  line-height: 18px;
  background-image: linear-gradient(to right, #FFF0BC, #C72C48);
  width: 50px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
}

.camps-trainings-holidays-tooltip-1,
.camps-trainings-holidays-tooltip-2,
.camps-trainings-holidays-tooltip-3,
.camps-trainings-holidays-tooltip-4 {
  display: inline-block;
  padding: 3px;
  font-family: "Varela Round", sans-serif;
  font-size: xx-small;
  color: white;
}

.camps-trainings-holidays-tooltip-1 {
  border: 1px solid black;
  border-radius: 3px 0 0 3px;
  background-color: rgba(254, 27, 0, 0.75);
}

.camps-trainings-holidays-tooltip-2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-color: rgba(232, 75, 4, 0.75);
}

.camps-trainings-holidays-tooltip-3 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-color: rgba(130, 26, 129, 0.75);
}

.camps-trainings-holidays-tooltip-4 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0, 51, 102, 0.75);
}