@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  border: none;
}

.info {
  padding: 6px 8px;
  font: 16px/18px "Varela Round", sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.info h4 {
  margin: 5px;
  color: #777;
}

.info h4.title {
  margin: 0 0 5px;
}

.centre-benevole {
  color: #72b026;
}

.cpn {
  color: #000;
}

p[class^="centre-"] {
  padding: 5px;
  font: 12px "Open Sans", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

p.centre-CENTRE {
  width: 120px;
  background-color: #72b026;
}

p.centre-CPN {
  width: 30px;
  background-color: #000;
}

p.town {
  font: 12px "Open Sans", sans-serif;
  color: #777;
  text-transform: uppercase;
}

.centre-tooltip-CENTRE, .centre-tooltip-CPN {
  border: transparent;
  box-shadow: none;
  border-radius: 0;
  font-family: "Open Sans", sans-serif;
  font-size: xx-small;
  font-weight: bolder;
  color: white;
}

.centre-tooltip-CENTRE {
  background-color: rgba(114, 176, 38, 1);
}

.centre-tooltip-CPN {
  background-color: rgba(0, 0, 0, 1);
}

.centre-popup > .leaflet-popup-content-wrapper {
  border-radius: 0;
}

.leaflet-popup-content > h4 {
  font: 14px "Varela Round", sans-serif;
  font-weight: bold;
  color: #777;
}

.totals-tooltip {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-family: "Varela Round", sans-serif;
  font-size: x-small;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.75);
}

.trainings-tooltip, .holidays-tooltip {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  text-align: center;
}

.bafa {
  color: rgb(232, 75, 4);
}

.bafd {
  color: rgb(130, 26, 129);
}

.bafa-tooltip, .stays-tooltip {
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px 5px 0 0;
  font-family: "Varela Round", sans-serif;
  font-size: x-small;
  font-weight: bolder;
  color: white;
}

.bafd-tooltip, .vacationers-tooltip {
  padding: 5px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 0 0 5px 5px;
  font-family: "Varela Round", sans-serif;
  font-size: x-small;
  font-weight: bolder;
  color: white;
  z-index: 42;
}

.bafa-tooltip {
  background-color: rgba(232, 75, 4, 0.75);
}

.bafd-tooltip {
  background-color: rgba(130, 26, 129, 0.75);
}

.stays-tooltip {
  background-color: rgba(0, 51, 102, 0.75);
}

.vacationers-tooltip {
  background-color: rgba(0, 0, 0, 0.75);
}

.trainees-legend, .vacationers-legend {
  line-height: 18px;
  background-image: linear-gradient(to right, #FFF0BC, #C72C48);
  width: 50px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.9;
}