html, body {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.leaflet-tooltip.total-labels {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-family: "Varela Round", sans-serif;
  font-size: x-small;
  font-weight: bolder;
  color: rgb(0, 0, 0, 0.75);
}

.info {
  padding: 6px 8px;
  font: 14px/16px "Varela Round", sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}