@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.centre-popup > .leaflet-popup-content-wrapper {
  border-radius: 0;
}

.leaflet-popup-content > h4 {
  font: 14px "Varela Round", sans-serif;
  font-weight: bold;
  color: #777;
}

p[class^="centre-"] {
  padding: 5px;
  font: 12px "Open Sans", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

p.centre-CENTRE {
  width: 120px;
  background-color: #72b026;
}

p.centre-CPN {
  width: 30px;
  background-color: #000;
}

p.town {
  font: 12px "Open Sans", sans-serif;
  color: #777;
  text-transform: uppercase;
}

.leaflet-tooltip.total-label {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-family: "Varela Round", sans-serif;
  font-size: x-small;
  font-weight: bolder;
  color: rgb(0, 0, 0, 0.75);
}

.info {
  padding: 6px 8px;
  font: 16px/18px "Varela Round", sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.info h4 {
  margin: 5px;
  color: #777;
}

.info h4.title {
  margin: 0 0 5px;
  color: #777;
}

.spinner {
  width: 100%;
  height: 100%;
}

.spinner:before {
  background-color: purple;
  top: -50%;
  left: -50%;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  content: " ";
}
