@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.leaflet-tooltip.total-labels {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-family: "Varela Round", sans-serif;
  font-size: x-small;
  font-weight: bolder;
  color: rgb(0, 0, 0, 0.75);
}

.info {
  padding: 6px 8px;
  font: 16px/18px "Varela Round", sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.spinner {
  width: 100%;
  height: 100%;
}

.spinner:before {
  background-color: purple;
  top: -50%;
  left: -50%;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  content: " ";
}
